extends ../components/_layout/layout

block head
  title Приоритеты
  meta(name='description' content='Описание страницы приоритеты')
  meta(name='keywords' content='Ключевые слова')
  meta(name='author' content='Автор')

block body
  include ../components/crumbs
  include ../components/cap
  include ../components/filters
  include ../components/tile
  include ../components/informer
  include ../components/watch
