.informer.section
  .informer__cont.cont
    .informer__area
      .informer__box
        .informer__headline ПровЕРь себя
        button.informer__button.btn-blue.btn-blue_dark Пройти квиз
      picture.informer__picture
        img.informer__image(src=staticImg('informer/informer_1.webp') alt='' loading='lazy')
