.watch.section
  .watch__cont.cont
    .watch__area
      .watch__box
        .watch__headline.headline Посмотрите и&nbsp;убедитесь сами
        .watch__tag.btn-blue Видео
        picture.watch__picture
          img.watch__image(src=staticImg('watch/watch_1.webp') alt='' loading='lazy')
      .watch__iframe
        iframe(src='https://vkvideo.ru/video_ext.php?oid=-37948240&id=456244574&hd=2' allow='encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;' allowfullscreen='')
